{
    "SmtpHost": "{{ smtp_host }}",
    "SmtpPort": {{ smtp_port }},
    "SmtpUserName": "{{ smtp_user_name }}",
    "SmtpPassword": "{{ smtp_password }}",
    "SmtpEnableSsl": {{ smtp_enable_ssl }},
    "FixedFrom": {{ fixed_from }},
    "AllowedFrom": {{ allowed_from }},
    "SupportFrom": "{{ support_from }}",
    "InternalDomains": "{{ internal_domains }}",
    "AddressValidation": "{{ address_validation }}"
}